<div class="team-wrapper">

<h1 class="team-name"><%= @team.name %></h1>
<% if current_user.team != @team %>
  <h3><%= @team.time_statement(current_user) %></h3>
<% else %>
  <h4><%= "Your current team | " %><%= link_to "Change?", edit_user_registration_path(current_user) %></h4>
<% end %>

<%= link_to "New Team", new_team_path %>


<h4 class='team-section'>Users</h4>
<ul>
<% @users.each do |u| %>
  <% unless u == current_user %>
    <li><%= u.fullname %></li>
  <% end %>
<% end %>
</ul>

</div>
