<div class="team-wrapper">

<h1 class="team-name"><%= @team.name %></h1>
<div id="team-zone" style="display:none"><%= @team.timezone %></div>
<div id='team-id' style="display:none"><%= @team.id %></div>
<div id='org-id' style="display:none"><%= @team.organization_id %></div>
<div id="team-title">
  <% if current_user.team != @team %>
    <h3><%= @team.time_statement(current_user) %></h3>
  <% else %>
    <h4><%= "Your current team | " %><%= link_to "Change", edit_user_registration_path(current_user) %></h4>
  <% end %>
</div>

<div id="team-clocks">
  <div class="user-clock"><span id="user-time"> Your Time</span></div>
  <% if current_user.team != @team %>
    <div class="team-clock"><span id="team-time"><%= @team.city %> Time</span></div>
  <% end %>
</div>

<div class="team-selectors">
  <a href='#' onclick="showRA()" id="recent-activity-select">Recent Activity</a>
  <a href='#' onclick="showUsers()" id="user-select">Users</a>
</div><br />

<div class="recent-activity" id="recent-activity">
  <%= render "recent_activity" %>
</div>

<div style="display:none" id="users">
  <%= render "users" %>
</div>

<%= link_to "New Team", new_team_path %>

</div>

<% if current_user.team == @team %>
  <%= javascript_tag do %>
    userTime();
  <% end %>
<% else %>
  <%= javascript_tag do %>
    userTime();
    teamTime()
  <% end %>
<% end %>
