<div class="user-stats columns small-8">
  <h4 class="user-name"><%= "Hello, #{current_user.fullname}." %></h4>
  <p><%= "Current Location: #{current_user.team.location}" %></p>
  <p><%= link_to "All Teams in #{current_user.organization.name}", organization_teams_path(current_user.organization) %></p>
</div>

<div class="live-feed columns small-6">
  <h4 class="team-section">Recent Activity in <%= current_user.organization.name %></h4>
  <div class="org-activity-appendable" id="org-activity-appendable">
    <% @last_answers.each do |a| %>
    <div class="user-response">
      <div class="left-section">
        <%= link_to a.user.fullname, "mailto:#{a.user.email}" %>
        <%= a.submitter_time + " there | " + a.viewer_time(current_user.local_zone) +" here" %>
      </div>
      <div class="right-section">
        <span class="team-question"><%= a.question.body %></span>
        <span class="team-answer"><%= a.body %></span>
      </div>
    </div>
    <% end %>
  </div>
</div>

 <% if current_user.question_time? && !current_user.all_answered_today? %>
  <%= render 'question' %>
<% else %>
  <%= current_user.no_standup_message %>
<% end %>


<div id="org-id" style="display:none"><%= current_user.organization.id %></div>
<div id="team-zone" style="display:none"><%= current_user.team.timezone %></div>
<div id='team-id' style="display:none"><%= current_user.team.id %></div>

<div id="hidden-id" style="display:none">
  <% if !@last_answers.first.nil? %>
    <%= @last_answers.first.id %>
  <% end %>
</div>
</div>

<%= javascript_tag do %>
  liveOrgFeed();
<% end %>
