<div class="user-stats columns small-8">
  <h4 class="user-name"><%= "Hello, #{current_user.fullname}." %></h4>
  <p><%= "Current Location: #{current_user.team.location}" %></p>
</div>

<div class="live-feed columns small-6">
  <h4 class="team-section">Recent Activity in <%= current_user.organization.name %></h4>
    <div class="org-activity-appendable" id="org-activity-appendable">
  </div>
</div>

 <% if current_user.question_time? && !current_user.all_answered_today? %>
  <%= render 'question' %>
<% else %>
  <%= current_user.no_standup_message %>
<% end %>


<div id="org-id" style="display:none"><%= current_user.organization.id %></div>
<div id="team-zone" style="display:none"><%= current_user.team.timezone %></div>
<div id='team-id' style="display:none"><%= current_user.team.id %></div>

<div id="hidden-id" style="display:none"><% if !@last_answers.first.nil? %><%= @last_answers.first.id %><% end %></div>
</div>
