<div class="user-wrapper">
  <% if current_user %>
    <div class="user-stats">
      <h4 class="user-name"><%= "Hello, #{current_user.fullname}." %></h4>
      <p><%= "Current Location: #{current_user.team.location}" %></p>
      <p><%= link_to "All Teams in #{current_user.organization.name}", organization_teams_path(current_user.organization) %></p>
    </div>
      <h4 class="subtitle">Questions</h4>
      <% current_user.team.questions.each do |q| %>
        <h5 class="question" onclick="formOpen()" ><%= link_to q.body, new_question_answer_path(q), id: q.id %></h5>
          <div class="question-form user-questions" style="display: none" id=<%="answer-#{q.id}"%> >
            <div class="row collapse">
                <div class="small-10 columns">
                  <input type="text" required placeholder="200 Characters Max" id=<%="#{q.id}-value"%> >
                </div>
                <div class="small-2 columns postfix">
                  <a onClick="questionSubmit()" class="button postfix" id=<%="#{q.id}-#{current_user.id}"%> >Answer</a>
                </div>
            </div>
          </div>
          <div class="new-answer" style="display:none" id= <%="response-#{q.id}"%> ></div>
      <% end %>
  <% end %>
</div>
