<div class="user-wrapper">
  <% if current_user %>
    <div class="user-stats">
      <h4 class="user-name"><%= "Hello, #{current_user.fullname}." %></h4>
      <p><%= "Current Team: #{current_user.team.name} | " %><%= link_to "Change", edit_user_registration_path(current_user) %></p>
      <p><%= "Current Location: #{current_user.team.location}" %></p>
      <p><%= link_to "All Teams in #{current_user.organization.name}", organization_teams_path(current_user.organization) %></p>
    </div>

    <div class="user-questions">
      <h4 class="subtitle">Questions</h4>
      <% current_user.team.questions.each do |q| %>
        <h5 class="question"><%= link_to q.body, new_question_answer_path(q) %></h5>
      <% end %>
    </div>
  <% end %>
</div>
